<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sn.dao.ImagesMapper" >
  <resultMap id="BaseResultMap" type="com.sn.entity.Images" >
    <id column="Fuid" property="fuid" jdbcType="VARCHAR" />
        <result property="modifydate" column="MODIFYDATE"  jdbcType="TIMESTAMP" />
        <result property="content" column="CONTENT"  jdbcType="LONGVARBINARY" />
        <result property="createdate" column="CREATEDATE"  jdbcType="TIMESTAMP" />
        <result property="originalName" column="originalName"  jdbcType="VARCHAR" />
		   
  </resultMap>
  <sql id="Base_Column_List" >
         FUID ,
         MODIFYDATE ,
         CONTENT ,
         CREATEDATE ,
         originalName 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT  <include refid="Base_Column_List" />
	    from tyy_images
		      where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tyy_images
    	where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </delete>
  <insert id="insert" parameterType="com.sn.entity.Images" >
    
         insert into tyy_images ( 
         		FUID , 
         	          		MODIFYDATE , 
         	          		CONTENT , 
         	          		CREATEDATE , 
         	          		originalName  
         	 )
   	 	values (
   	 		#{fuid,jdbcType=VARCHAR} , 
   	 	   	 		#{modifydate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{content,jdbcType=LONGVARBINARY} , 
   	 	   	 		#{createdate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{originalName,jdbcType=VARCHAR}  
   	 	)
  </insert>
  
      
  
   <insert id="insertSelective" parameterType="com.sn.entity.Images">
  	  insert into  tyy_images
  	  
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   
  	  	<if test="fuid != null" >
  	 	  FUID ,  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 	  MODIFYDATE ,  
  	  	</if>
  	  	<if test="content != null" >
  	 	  CONTENT ,  
  	  	</if>
  	  	<if test="createdate != null" >
  	 	  CREATEDATE ,  
  	  	</if>
  	  	<if test="originalName != null" >
  	 	  originalName   
  	  	</if>
  	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="fuid != null" >
        	#{fuid,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifydate != null" >
        	#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="content != null" >
        	#{content,jdbcType=LONGVARBINARY} , 
       </if>
    	<if test="createdate != null" >
        	#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="originalName != null" >
        	#{originalName,jdbcType=VARCHAR}  
       </if>
       </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sn.entity.Images" >
    update  tyy_images
    <set >
    	<if test="modifydate != null" >
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="content != null" >
        	  CONTENT=#{content,jdbcType=LONGVARBINARY} , 
       </if>
    	<if test="createdate != null" >
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="originalName != null" >
        	  originalName=#{originalName,jdbcType=VARCHAR}  
       </if>
 	 </set>
    where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
		 </update>        
		        
<update id="updateByPrimaryKey" parameterType="com.sn.entity.Images" >
    update tyy_images
    set 
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
        	  CONTENT=#{content,jdbcType=LONGVARBINARY} , 
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
        	  originalName=#{originalName,jdbcType=VARCHAR}  
      where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="com.sn.entity.Images" >
    select 
    <include refid="Base_Column_List" />
    from tyy_images
   <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="content != null" >
  	 		   and    CONTENT  = #{content}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="originalName != null" >
  	 		   and    originalName  = #{originalName}  
  	  	</if>
    </where>  
  </select>
  
  <delete id="deleteByColum"  parameterType="com.sn.entity.Images">  
    DELETE FROM tyy_images  
      <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="content != null" >
  	 		   and    CONTENT  = #{content}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="originalName != null" >
  	 		   and    originalName  = #{originalName}  
  	  	</if>
  	  </where>  
</delete>

<delete id="deleteByByPrimaryKeys" parameterType="java.util.List">  
    DELETE FROM  tyy_images WHERE 
		        FUID 
     IN  
    <foreach collection="list" item="item" open="(" separator="," close=")">   
        #{item}  
    </foreach>  
</delete>

<select id="countByColum" resultType="java.lang.Integer" parameterType="com.sn.entity.Images" >
select count(*) from tyy_images
 <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="content != null" >
  	 		   and    CONTENT  = #{content}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="originalName != null" >
  	 		   and    originalName  = #{originalName}  
  	  	</if>
    </where>  
</select>

<select id="selectAll"  resultMap="BaseResultMap"  >
select * from tyy_images 
</select>

  <!--   自定义方法区域 -->
  
  <select  id="selectLikeColum"  resultMap="BaseResultMap" parameterType="com.sn.entity.Images"  >
		 select 
    <include refid="Base_Column_List" />
    from tyy_images 
      <where>  
		 LIKE CONCAT('%','#{1}','%' ) 
  	  	</where>  
	</select>
	
	<select id="selectByCustom" resultMap="BaseResultMap" parameterType="com.sn.entity.Images" >
    select 
    <include refid="Base_Column_List" />
    from tyy_images
      <where>  
		 
  	  	</where>
	</select>
	
</mapper>